

input{
    padding-left: 5px;
}

.left {
    display: flex;
    flex-direction: column;
}

.right {
    display: flex;
    flex-direction: column;
}

.row{
    padding-top: 2rem;
    padding-bottom: 10rem;
}

*{
    box-sizing: border-box;
}

#rooms h5{
    cursor: pointer;
}

#online_users {
    height: 150px;
    overflow-y: auto;
    border: 1px solid #00cd00;
    border-radius: 10px;
    padding: 0 10px;
}

#output {
    flex-direction: column;
    justify-content: flex-end;
    flex-grow: 2;
    overflow-y: auto;
    border: 1px solid #d6d6d6;
    margin-bottom: 1rem;
    padding: 5px;
    border-radius: 5px;
}

#input {
    display: flex;
    z-index: 1;
}

#input input {
    flex-grow: 4;
    margin-right: 5px;
}

.create-room-wrapper {
    display: flex;
}

.create-room-wrapper input {
    flex-grow: 6;
    margin-right: 5px;
}

.create-room-wrapper button {
    flex-grow: 1;
    font-weight: bold;
}

#rooms{
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    border: 1px solid #d6d6d6;
    margin-bottom: 1rem;
    padding: 5px;
    border-radius: 5px;
}


@media (max-width: 991px) {
    html, body, .container, .row{
        height: 100%;
    }

    .row{
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .left{
        height: 60%;
    }

    .right{
        margin-top: 2rem;
        height: calc(40% - 2rem);
    }

    #output {
        height: 250px;
    }

    #input {
        height: auto;
    }

    #rooms{
        height: 140px;
    }
    

    
}

@media (max-width: 575px) {
    #input input {
        margin: 0;
        margin-bottom: 5px;
        padding-left: 5px;
    }

    #input {
        flex-direction: column;
    }
}


@media (min-width: 992px) {
    html, body, .container, .row, .right, .left{
        height: 100%
    }
    /* .left {
        display: flex;
        flex-direction: column;
    }
    
    .right {
        display: flex;
        flex-direction: column;
    } */
}